* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

div {
    
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr 5fr;
}


/* HEADER */

.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.top-header-container {
    align-items: center;
    display: grid;
    grid-template-columns: .45fr 5fr 1fr 1fr 1fr 1fr;
}

#header-search {
    justify-self: end;
    grid-column: 1;
}

.search {
    height: 25px;
    margin-left: 20px;
    border: none;
    background-color: #e8ecf4;
    border-radius: 10px;
    grid-column: 2;
}

.bell {
    grid-column: 4;
}

.header-icons {
    width: 30px;
    height: auto;
    justify-self: end;

}

#header-pfp {
    height: 50px;
    width: auto;
    border-radius: 50px;
    justify-self: center;
    grid-column: 5;
}

.name {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
    justify-items: start;
    grid-column: 6;
}

/* HEADER BOTTOM */

.bottom-header-container {
    display: grid;
    align-items: center;
    grid-template-columns: .5fr 4fr .75fr .75fr .75fr;
}

.bottom-pfp {
    height: 75px;
    margin-left: 40px;
    margin-right: 20px;
    border-radius: 50px;
}

.welcome-1 {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 5px;
}

.username {
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: bold;
}

.buttons {
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    background-color: #2094d4;
    height: 40px;
    width: 100px;
}

.b1 {
    justify-self: end;
}

.b2 {
    justify-self: center;
}

.b3 {
    justify-self: start;
}

/* MAIN */
.main {
    display: grid;
    grid-template-columns: 1fr 3fr;
}


/* SIDEBAR */
.sidebar {
    grid-column: 1;
    grid-row: 1 / -1;
    display: grid;
    grid-template-rows: .5fr 2fr 2fr 2fr;
    gap: 40px;
    padding: 20px;
    background-color: #2094d4;
    color: white;
}

.sidebar img {
    filter: invert(100%)
}

#dashboardIMG {
    width: 30px;
    height: auto;
}

.icons {
    width: 20px;
    height: auto;
}

.sidebar-header-container {
    display: grid;
    align-items: center;
    grid-template-columns: .5fr 1fr;
    gap: 10px;

}

.sidebar-main-container,
.sidebar-setting-container {
    font-size: 18px;
    font-weight: bold;
}

.sidebar-main-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(6, 1fr);
}

.sidebar-setting-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(3, 39.422px);
}
