* {
    margin: 0;
    padding: 0;
}

.header,
.main,
.sidebar,
.header>*,
.sidebar>*,
.main>* {
    border: red dashed thin;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr 5fr;
}

.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.main {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / -1;
}

