* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

div {
    border: red dashed thin;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr 5fr;
}


/* HEADER */

.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
}




/* MAIN */
.main {
    display: grid;
    grid-template-columns: 1fr 3fr;
}


/* SIDEBAR */
.sidebar {
    grid-column: 1;
    grid-row: 1 / -1;
    display: grid;
    grid-template-rows: .5fr 2fr 2fr 2fr;
    gap: 40px;
    margin: 20px;

}

#dashboardIMG {
    width: 30px;
    height: auto;
}

.icons {
    width: 20px;
    height: auto;
}

.sidebar-header-container {
    display: grid;
    align-items: center;
    grid-template-columns: .5fr 1fr;
    gap: 10px;

}

.sidebar-main-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(6, 1fr);
}

.sidebar-setting-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(3, 39.422px);
}
